html {
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  border-bottom: 1px solid #b5b2b2;
  padding: 15px;
}

.logo {
  display: block;
  width: 50px;
  height: 50px;
  background-color: black;
}

.text {
  color: black;
  font-weight: 500;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: -20px;
}

li {
  display: inline-block;
  margin-right: 20px;
}

.text.phone {
  text-decoration: none;
}
